body table tr th {
	font-size: 24px;
}
body table tr th {
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 14px;
}
body table {
	font-family: Calibri, Helvetica, sans-serif;
}
body div p strong {
	font-family: Calibri, Helvetica, sans-serif;
}

body div {
	font-family: Calibri, Helvetica, sans-serif;
	hanging-punctuation: end;
}
body div table {
	color: #006;
}
.combo {position:relative;width:390px;text-align:left;padding:0;margin:0;}
.combo * {padding:0;margin:0;}
.combo label {display:block;float:left;width:292px;text-align:right;}
.combo input {width:292px; background-color:#cfc;height:1.5em;z-index:0;}
.combo ul {padding:1px;border:2px solid #ccc;width: 289px;background-color:#cfc;position:absolute;right:3px;top:1.5em;display:none;z-index:1;}
.combo li {display:block; width: 100%;}
a.help span {
display: none;
width:350px;
text-align:left;
color:#000;
padding:4px;
-moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
-o-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
filter: progid:DXImageTransform.Microsoft.Shadow( Strength=5, Direction=135, Color='#999999' );
}
a.help:hover {
position: relative;
}

a.help:hover span {
display: block;
position: absolute;
z-index: 100;
padding:4px 10px;
border: 1px solid black;
background-color: #eeeeee;
}
.login_out_line {
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 14px;
	text-align:right;
	margin:5px 5px 0px 0px;
}
.align_left {
	text-align:left;
}
.align_center {
	text-align:center;
}
.align_right {
	text-align:right;
}
.align_top {
	margin-top: 0px;
}
.colorgrey {
	color: #575756;
}
@media screen {
	.hdmi {
	max-width:95%;
		margin: 50px;
	}
}
@media print {
	.hdmi {
	max-width:95%;
		margin: 0px;
	}
}
.center_table {
    margin: 0px auto; /* or margin: 0 auto 0 auto */
}
.rigth_table {
    margin: 0px 0px 0px 750px;
}
.bordes_redondos {
	border-radius: 15px;
}
.header_wrap {
	min-width: 98%;
	background:#FFFFFF;
	height:83px;
	position:fixed;
	top:0px;
}
.header {
	width:95%;
	margin:6px auto;
	
}
.headerpag {
	top:0px;
	}
.header_logo_box {
	width:10%;
	margin:10px auto;
}
.content {
	max-width: 90%;
	height:auto;
	margin:auto;
}

.error_text {font-size: 24px;}
.title_text {
	font-size: 34px;
	text-align:center;
}
.table_text {
	font-family: Calibri, Helvetica, sans-serif;
}	
.table_display_box {
	size:40px; 
}
@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
.cclabs_blue {
	color:rgb(0, 45, 114);
}
.cclabs_green {
	color:rgb(45, 112, 0);
}
.cclabs_yellow {
	color:rgb(237, 139, 0);
}
.cclabs_blue_back {
	background-color:rgb(0, 45, 114);
}
.cclabs_blue_back1 {
	background-color:rgb(0, 102, 204);
}
.cclabs_orange_back {
	background-color:rgb(240, 171, 9);
}
.cclabs_green_back {
	background-color:rgb(45, 112, 0);
}
.cclabs_yellow_back {
	background-color:rgb(237, 139, 0);
}
.cclabs_red_back {
	background-color:red;
}
/*Color de header*/
.white_back {
	/*height: 0px;
    background: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 
    background: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 
    background: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 
    background: linear-gradient(blue, gray); /* Standard syntax (must be last) */
	background-color:#E5E5E5;
	color:white;
}
.black_back {
	/*height: 0px;
    background: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 
    background: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 
    background: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 
    background: linear-gradient(blue, gray); /* Standard syntax (must be last) */
	background-color:#E5E5E5;
	color:black;
}
.white_text {
	color:white;
}
#sticky { 
    width: 100px; 
    height: 100px; 
    position: fixed;
	float: right;right:0;
}

#sticky2 { 
    width: 85%; 
    height: 100px; 
    position: fixed;
	top: 50px;
	float: left;
	left:4%;
}
#marquee { 
    width: 75%;
    height: 50px; 
    position: absolute;
	right:3%;
}
.mediumtop {
    border-top:medium solid;
}

.mediumbottom {
    border-bottom:medium solid;
}

.mediumleft {
    border-left:medium solid;
}

.mediumright {
    border-right:medium solid;
}
.noborder {
	border-top:0;
	border-bottom:0;
	border-left:0;
	border-right:0;
}
.allborder {
	border-top:1px solid black;
	border-bottom:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
}
.size14 {
	font-size: 10px;
}

.bordercollapse {
	border: 1px solid black;
	border-collapse: collapse;
}

.bordercollapse2 {
	border: 0px solid black;
	border-collapse: collapse;
}
.tablecolorheader {
	background-color: #CCCCCC;
	color: black;
}
.tablecolorheader1 {
	background-color:#5bc0de;
	color: white;
}
.backgroundtable1 {
background-color:#EDEEEF;
}
.backgrountable2 {
background-color:white;
}
/*tabla con borde redondeados*/
.tablar {
	table-layout: fixed;
	display: table;
	width: 100%;
    text-align: left;
    margin: 0 auto;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	background-color:#dddddd;
}
.filatablar {
	display: table-row;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	background-color:#dddddd;
}
.columnatablar {
	display: table-cell;
    vertical-align: middle;
    padding: 10px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #cccccc;
	background-color:#dddddd;
}

.tabla {
	table-layout: fixed;
	display: table;
	width: 100%;
    text-align: center;
    margin: 0 auto;
	border-spacing: 15px;
	border:1px;
}
.tablamrp {
	display: table;
	width: 60%;
    text-align: center;
    margin: 0 auto;
	border-spacing: 15px;
	border:1px;
}
.filatabla {
	display: table-row;
	border:1px;
}
.columnatabla {
	display: table-cell;
    vertical-align: middle;
    padding: 10px;
	border:1px;
}
.verticalaling {
    vertical-align: middle;
 }
.verticalLine {
    border-left: thick solid #000080;
}
.mrpletratitulos {
	text-align: center;
	font-size: 15px;
	color: (0, 45, 114)
	
}

.imagengenericoPA {
	width:50px;
	height:50px;
}

.letrasgenericoPA {
	font-size:12px;
}
.sobra {
	-webkit-box-shadow: 17px 10px 5px 0px rgba(0,0,0,0.43);
	-moz-box-shadow: 17px 10px 5px 0px rgba(0,0,0,0.43);
	box-shadow: 17px 10px 5px 0px rgba(0,0,0,0.43);
}
/*index2.html*/

.body{
	background: no-repeat center center;
	min-height: 800px;
    padding: 200px 0 0;
	font: 20px 'Segoe UI',Calibri, Helvetica, sans-serif;
}

.formContainer{
	width:288px;
	height:321px;
	margin:0 auto;
	position:relative;
	z-index:1;
	
	-moz-perspective: 800px;
	-webkit-perspective: 800px;
	perspective: 100px;
}


.loginemail{
	border: none;
	background:none;
	height: 35px;
	left: 34px;
	position: absolute;
	top: 100px;
	width: 243px;
	text-indent: 8px;
	/*text-shadow: 1px 1px 1px rgba(1, 0, 0, 0.3);*/
	color:black;
	border-radius: 5px;
	background-color:#ffffff;
	font: 20px 'Segoe UI',Calibri, Helvetica, sans-serif;
}

.loginpass {
	border: none;
	background:none;
	height: 35px;
	left: 34px;
	position: absolute;
	top: 100px;
	width: 243px;
	text-indent: 8px;
	/*text-shadow: 1px 1px 1px rgba(1, 0, 0, 0.3);*/
	color:black;
	border-radius: 5px;
	background-color:#ffffff;
	font: 20px 'Segoe UI',Calibri, Helvetica, sans-serif;
}



.fondo1index{

	left: 0px;
	position: absolute;
	top: -20px;
	width: 350px;
	
}

.logoindex{
	
	left: 35px;
	position: relative;
	top: 10px;
	width: 234px;
	
}
#email{
	top: 30px;
}
#password{
	top: 80px;
}


.botonindex {
	opacity:0.9;
	position:absolute;
	top:140px;
	left:100px;
	width: 150px;
	height:36px;
	cursor:pointer;
	border-radius:6px;
	box-shadow:0 1px 1px #888;
	border:none;
	color:#fff;
	font: 20px 'Segoe UI',Calibri, Helvetica, sans-serif;
	
	
	
	background-image: linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -o-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.5, rgb(80,102,127)),
		color-stop(0.5, rgb(87,109,136)),
		color-stop(1, rgb(106,129,155))
	);
}

.oscurecer:hover{
	opacity:1;
}


/*Logo de imagen en top.php*/
.logotop{
	
	left: 700px;
	/*position: absolute;*/
	top: 60px;
	width: 150px;
}

.logotop1{
	left:1px;
	/*position: absolute;*/
	top: 10px;
	width: 100px;
	
}

.fotolicencia{

height:208px;
}
.iconostop{
width:120px;
}


/*Página logística*/

.logoslog {
	width: 120px;
}
/*Página Vehículos*/


.botonvehi {
	opacity:0.9;
	position:absolute;
	top:100px;
	left:0px;
	width: 250px;
	height:30px;
	cursor:pointer;
	border-radius:6px;
	box-shadow:0 1px 1px #888;
	border:none;
	color:#fff;
	font: 20px 'Segoe UI',Calibri, Helvetica, sans-serif;
	
	
	
	background-image: linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -o-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.5, rgb(80,102,127)),
		color-stop(0.5, rgb(87,109,136)),
		color-stop(1, rgb(106,129,155))
	);
}

/*tablas vehiculos*/

.tablavehi {
	border-radius: 20px;
	
}
.filavehi {
	text-indent: 10px;
}
.columnavehi {
	text-align:right;
	width:21%;
}
.columnavehiz{
	text-align:left;
	width:30%;
}

/*boton guardad vehiculos*/

.botonvehi {
	opacity:0.9;
	position:relative;
	top:10px;
	left:-260px;
	width: 150px;
	height:36px;
	cursor:pointer;
	border-radius:6px;
	box-shadow:0 1px 1px #888;
	border:none;
	color:#fff;
	font: 20px 'Segoe UI',Calibri, Helvetica, sans-serif;
	
	
	
	background-image: linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -o-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(80,102,127) 50%, rgb(87,109,136) 50%, rgb(106,129,155) 100%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.5, rgb(80,102,127)),
		color-stop(0.5, rgb(87,109,136)),
		color-stop(1, rgb(106,129,155))
	);
}

.oscurecer:hover{
	opacity:1;
}

.columnatabla a:link, .columnatabla a:visited, .columnatabla a:hover {
text-decoration: none;
}


.greencolorbold {
	color:rgb(11, 137, 50);
	font-weight: bold;
} 
.greencolor {
	color:rgb(11, 137, 50);
}
.redcolor {
	color:red;
}
.actionbutton {
	width:75px;
}
.margenes {
	border: 1px solid black;
}
#miTabla tr:nth-child(odd) {
   background-color: #DDD;
  
}

#miTabla tr:nth-child(even) {
   background-color: #666;
 
}
/*Reportes Genericos*/
.cclabswhiteBackground {
	background-color: White;
}
.cclabsgraybackground {
	background-color: LightGray ;
}

.anchos {
	width : 50px;
}
/*Cambia el color de las líneas al pasar el puntero sobre ellas*/
a.enlace {
	color: #0000D9;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

a.enlace:hover {
	text-decoration: none;
	background: #77AADD;
}
/*CSS QUE PONE EN EL CENTRO DEL NAVBAR DE BOOSTRAP EL TEXTO*/
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}
.bootstrapcolorgray {
	background-color:#FFEFD5
}
.reg_name {
    max-width:200px;
}

.modal.modal-wide .modal-dialog {
  width: 70%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

#tallModal .modal-body p { margin-bottom: 00px }